.description {
  max-width: 100%;
  display: grid;
  min-height: 25em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  margin: 1em 0;
  row-gap: 2em;
  padding: 2em 1em;
  background-color: hsl(var(--background_color) / 0.6);
  &__text {
    flex: 1;
    span:nth-child(2) {
      color: hsl(var(--secondary_color));
    }
    .primary {
      color: hsl(var(--primary_color));
    }
    .secondary {
      color: hsl(var(--secondary_color));
    }
  }
  &__text {
    margin-top: 1.5em;
    font-size: 1.3rem;
  }
}
.buttonGroupe {
  margin-top: 1em;
}

.illustrator {
  &__container {
    max-width: 100%;
    svg {
      width: 100%;
    }
    position: relative;
    text-align: center;
  }
}
