@import "description";
@import "services";
@import "tools";
@import "team";
@import "aboutme";

.container {
  width: 1440px;
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 0 4em;
  display: flex;
  flex-direction: column;
  color: hsl(var(--text_color));
  margin-top: 4em;
  background-color: hsl(var(--background_color) / 0.4);
  @include breakpoint(medium) {
    padding: 0 1em;
  }
}

.homeComponentsApears {
  opacity: 1;
  transition: opacity 1000ms;
  &::after {
    width: 100%;
    transition: width 1000ms;
  }
}

.title {
  margin: 0.5em 0;
  text-align: center;
  color: hsl(var(--primary_color));
}

.home__svgs {
  :global(#home_svg__lamp) {
    animation: jumping 5000ms alternate infinite ease-in-out;
    path:nth-of-type(1) {
      fill: hsl(var(--primary_color) / 0.7);
    }
    path:nth-of-type(2) {
      fill: hsl(var(--secondary_color) / 0.7);
    }
  }
  :global(#home_svg__Flower) {
    path::last-child {
      fill: red;
    }
  }
  :global(#home_svg__sky) {
    animation: 20000ms day_cycle alternate infinite ease;
  }
  :global(#home_svg__clowed) {
    animation: 20000ms clowed_floating infinite forwards ease;
  }
  :global(#home_svg__clowed_2) {
    animation: 25000ms clowed_floating infinite forwards ease;
  }
}

@keyframes jumping {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(-5%);
  }
}
@keyframes day_cycle {
  0% {
    fill: #4f9bd9;
  }
  50% {
    fill: rgb(209, 129, 0);
  }
  55% {
    fill: darkblue;
  }
  100% {
    fill: rgb(209, 129, 0);
  }
}

@keyframes clowed_floating {
  from {
    transform: translateX(-35%);
  }
  to {
    transform: translateX(35%);
  }
}
