.team {
  &__wrapper {
    position: relative;
    width: 100%;
    background-color: hsl(var(--background_color) / 0.8);
    margin: 5em 0;
    padding: 1em 0;
    @include pseudo(after, 0, 0.2em, 0, 0, none, none) {
      background-color: hsl(var(--primary_color));
      transition: width 500ms ease-in;
    }
  }
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    gap: 2em;
  }
  &__card {
    position: relative;
    margin-top: 1em;
    padding: 2em auto;
    box-shadow: 0 0 5px 1px hsl(var(--secondary_color));
    box-shadow: 0 0 0.1em hsl(var(--primary_color));
    &:hover {
      background-color: hsl(var(--primary_color));
      color: #fff;
      .team__card__pecture {
        background-color: red;
        outline: 0.2em solid #fff;
        transform: scale(1.03);
      }
      .team__card__name {
        color: #fff;
      }
    }
    &__pecture {
      position: relative;
      width: 15em;
      max-width: 20em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      outline: 0.01em solid transparent;
      transition: outline 100ms ease-in, transform 100ms ease-in;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__name {
      font-size: var(--fs-600);
      text-align: center;
      width: 100%;
      color: hsl(var(--primary_color));
    }
  }
}
