.team {
  &__wrapper {
    position: relative;
    width: 100%;
    background-color: hsl(var(--background_color) / 0.8);
    margin: 5em 0;
    padding: 1em 0;
    @include pseudo(after, 0, 0.2em, 0, 0, none, none) {
      background-color: hsl(var(--primary_color));
      transition: width 500ms ease-in;
    }
  }
  &__container {
    position: relative;
    padding: 2em 1em;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__card {
    width: 100%;
    width: 17em;
    max-width: 100%;
    height: max-content;
    background-color: hsl(var(--card-background-color));
    box-shadow: 0 0 0.1em hsl(var(--primary_color));
    padding-top: 2em;
    transition: transform 100ms ease-in;
    margin: auto;
    &:hover {
      .team__card__pecture {
        outline: 0.2em solid hsl(var(--primary_color));
        transform: scale(1.03);
      }
    }
    &__pecture {
      width: 15em;
      max-width: 20em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      outline: 0.01em solid transparent;
      transition: outline 50ms ease-in, transform 50ms ease-in;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__name {
      font-size: var(--fs-600);
      text-align: center;
      width: 100%;
      color: hsl(var(--primary_color));
    }
    &__socialMedia {
      &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: hsl(var(--primary_color) / 0.08);
      }
      &__field {
        width: 5em;
        height: 5em;
        display: grid;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 0.1em 0.1em hsl(var(--primary_color) / 0.5);
        background-color: #fff;
        color: hsl(var(--primary_color));
        svg {
          transition: transform 100ms ease-in;
        }
        &:hover {
          background-color: hsl(var(--primary_color));
          color: #fff;
        }
        &:hover > svg {
          transform: scale(1.1);
        }
      }
    }
  }
}
