.tools {
  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: 5em;
    opacity: 0;
    background-color: hsl(var(--background_color) / 0.6);
    padding: 0.5em 0;
    min-height: 35rem;
    @include pseudo(after, 0, 0.2em, 0, none, none, 0) {
      background-color: hsl(var(--primary_color));
      transition: width 500ms ease-in;
    }
  }
  &__container {
    width: 100%;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 3fr));
    gap: 1em;
    div {
      text-align: center;
    }
  }
  &__card {
    padding: 1em;
    transition: background-color 100ms linear, color 100ms linear;
  }
  &__card:hover {
    background-color: hsl(var(--primary_color));
    color: white;
    .tools__IconField {
      transform: scale(1.25);
    }
  }
  &__IconField {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;
    overflow: none;
    transition: transform 100ms ease-in;
  }
  &__title {
    margin-top: 0.5em;
  }
  &__item__transition-enter {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
  &__item__transition-enter-active {
    opacity: 1;
  }
  &__item__transition-exit {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  &__item__transition-exit-active {
    opacity: 0;
  }
}
