.contact {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
  }
}

.contactUs {
  width: 60em;
  max-width: 100%;
  display: grid;
  background-color: red;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  border-radius: 0.2em;
  background-color: hsl(var(--background_color));
  box-shadow: 0 0 0.1em hsl(var(--primary_color));
  overflow: hidden;
  .form {
    grid-column: 3 span;
  }
  &__desc {
    background-color: hsl(var(--primary_color));
    grid-column: 2 span;
    padding: 1rem 2em;
    h1 {
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
    &__img {
      border-radius: 50%;
    }
    &__text {
      color: #FFF;
      font-size: var(--fs-500);
    }
  }
}
