:root {
  --button-width: 8em;
  --button-height: 3em;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(7, 7, 98);
}

.button-3d {
  display: block;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  color: #fff;
  width: var(--button-width);
  height: var(--button-height);
  perspective: 100em;
  perspective-origin: center center;
  transform: translate(-50%, -50%) rotateY(45deg);
  cursor: pointer;
}
.button-3d span {
  position: absolute;
  border: 1px solid #fff;
}
.button-3d__text {
  display: grid;
  place-items: center;
  inset: 0;
  font-weight: bold;
}

.button-3d :is(span:nth-of-type(2), span:nth-of-type(3)) {
  top: 0;
  left: 0;
  width: var(--button-height);
  height: var(--button-height);
  transform: rotateY(90deg);
  background-color: pink;
}

.button-3d__text:first-child {
  background-color: red;
  z-index: 1;
}
.button-3d__text:last-child {
  transform: rotateX(180deg) translateZ(var(--button-height));
  background-color: blue;
}
