@use "../abstracts/" as *;

.buttonGroupe {
  margin-top: 2em;
  padding: 0;
  @include flex(none, center, wrap);
}

.button {
  --effect-clr: var(--primary_color);
  font-size: var(--fs-300);
  font-family: $font-btn;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 5px;
  font-weight: 400;
  background-color: hsl(var(--primary_color) / 0.8);
  color: white;
  transition: 50ms;
  transition-property: background-color;
  &::first-letter {
    text-transform: uppercase;
  }
  &--secondary {
    --effect-clr: var(--secondary_color);
    background-color: hsl(var(--secondary_color) / 0.8);
  }
  &--warning {
    --effect-clr: var(--warning_color);
    background-color: hsl(var(--warning_color) / 0.8);
  }
  &:hover,
  &:focus {
    background-color: hsl(var(--effect-clr) / 0.1);
    outline: 0.2em solid hsl(var(--effect-clr) / 0.6);
    color: hsl(var(--effect-clr));
  }
  &:focus {
    outline: 0.2em solid hsl(var(--effect-clr) / 0.6);
  }
  &:disabled {
    background-color: hsl(var(--effect-clr) / 0.5);
  }
}
