.card {
  position: relative;
  cursor: pointer;
  max-width: 100%;
  &__flip {
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: perspective(100em) rotateY(0);
    &:focus > .card__back {
      transform: perspective(100em) rotateY(0);
    }
    &:focus > .card__front {
      transform: perspective(100em) rotateY(180deg);
    }
  }
  &__back,
  &__front {
    box-shadow: 0 0 2px hsl(var(--primary_color) / 0.5);
    backface-visibility: hidden;
    transition: 300ms transform linear;
  }
  &__back {
    position: absolute;
    inset: 0;
    transform: perspective(100em) rotateY(180deg);
    transition: 300ms transform linear;
  }
  &__front {
    border-radius: 4px;
    text-align: center;
  }
}
