.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
  }
  &__label {
    font-size: var(--fs-500);
    font-weight: 600;
  }
  &__input {
    all: unset;
    margin-top: 0.25em;
    font-size: var(--fs-400);
    padding: 0.25em 0.5em;
    font-weight: 550;
    box-shadow: 0 0 0.1em hsl(var(--primary_color));
    &--error {
      //   outline: 0.1em solid hsl(var(--error_color));
      box-shadow: 0 0 0.1em 0.05em hsl(var(--error_color));
    }
  }
  &__errors__container {
    display: flex;
    flex-direction: column;
  }
  &__error {
    margin-top: 0.25em;
    color: red;
    font-size: var(--fs-400);
    font-weight: 600;
    // color: hsm(var(--error_color));
  }
  &__buttons__field {
    width: 100%;
    display: flex;
    margin-top: 0.5em;
    button {
      text-align: center;
      flex: 1;
    }
  }
}
