@use "../abstracts" as *;

:root {
  --text_color: #{$text_light_color};
  --primary_color: #{$primary_light_color};
  --secondary_color: #{$secondary_light_color};
  --warning_color:#{$warning_light_color};
  --background_color: #{$background_light_color};
  --secondary_color: #{$secondary_light_color};
  --header_color: #{$header_light_color};
}
