.footer {
  width: 100%;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid hsl(var(--secondary-color));
  background-color: hsl(var(--background_color));
  &__container {
    @include flex(space-around, none, none);
    max-width: 720px;
    margin: 0 auto;
    border-top: 1px solid hsl(var(--secondary_color));
    padding: 0.25em 0;
  }
  &__iconField {
    font-size: 1.3rem;
    width: 5em;
    text-align: center;
    cursor: pointer;
    & > svg {
      transition: 100ms transform ease-in;
    }
    & > svg:hover {
      transform: scale(1.4);
    }
  }
}
