.footer {
  width: 100%;
  margin-top: auto;
  background-color: hsl(var(--footer-bg-color));
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(30em, 1fr));
  gap: 1em;
  &__socialMediaLinks {
    max-width: 720px;
    margin: 0 auto;
    border-top: 1px solid hsl(var(--secondary_color));
    padding: 0.25em 0;
  }
  &__iconField {
    margin: 2em 0;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    width: 5em;
    cursor: pointer;
    & > svg {
      color: #fff;
      transition: 100ms transform ease-in;
    }
    & > svg:hover {
      transform: scale(1.4);
    }
    &__name {
      color: #fff;
      margin-left: 1em;
    }
  }
}
