$text_color: hsl(var(--text_color));
$hover_color: hsl(var(--primary_color));

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
  color: $text_color;
  background-color: hsl(var(--header_color));
  isolation: isolate;
  border-bottom: 0 solid hsl(var(--primary_color) / 0.5);
  transition: border-bottom 100ms ease-in;
  span {
    color: $hover_color;
  }
  &__nav {
    @include flex(flex-end, false, false);
    flex: 1;
    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100vh;
      transition: left 300ms ease-in, background-color 300ms ease-in;
    }
    ul {
      display: flex;
      cursor: pointer;
      transition: width 2000ms;
      font-size: 1.1rem;
      @include breakpoint(medium) {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }
      li {
        position: relative;
        margin-left: 1em;
        width: 5em;
        text-align: center;
        font-weight: 300;
        color: $text_color;
        &:hover {
          transform: scale(1.1);
          font-weight: 700;
          transition: 150ms font-weight;
        }
        @include pseudo(after, 0, 2px, false, false, 0, 50%) {
          background-color: $hover_color;
          transform: translateY(-50);
          transition: ease-in 150ms;
          transition-property: left width;
        }
        &:hover::after {
          left: 0;
          width: 100%;
        }
        @include breakpoint(medium) {
          width: 100%;
          padding: 2em 0;
          margin-left: 0;
          font-weight: bold;
          &::after {
            display: none;
          }
        }
      }
    }
    .active {
      position: relative;
      @include pseudo(after, 100%, 3px, false, false, 0, 0) {
        font-weight: 700;
        background-color: $hover_color;
      }
      @include breakpoint(medium) {
        color: hsl(var(--primary_color));
      }
    }
  }
  &--second {
    border-bottom: 0.2em solid hsl(var(--primary_color) / 0.5);
  }
  &__observation__helper {
    position: absolute;
    top: 5em;
    width: 100%;
    height: 1em;
  }
}

.logo {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: -30%;
    width: 0.8em;
    height: 0.8em;
    transform: rotate(25deg);
    border: 2px solid $hover_color;
    z-index: -1;
  }
  &::before {
    position: absolute;
    content: "";
    left: 25%;
    top: -20%;
    width: 0.5em;
    height: 0.5em;
    transform: rotate(25deg);
    border: 2px solid $hover_color;
    z-index: -1;
  }
}

.menu_bar {
  &:checked + nav {
    left: 0;
    background: #fff;
    z-index: 1;
  }
  &__btn {
    cursor: pointer;
    color: hsl(var(--primary_color));
    transition: 100ms transform ease-in;
    &:hover {
      transform: scale(1.2);
    }
    &--open {
      @include breakpoint-up(medium) {
        display: none;
      }
    }
    &--close {
      @include breakpoint-up(medium) {
        display: none;
      }
    }
  }
}
