.cssExposition {
  &__cards__container {
    margin: 2em 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2em;
  }
  &__back_btn {
    position: fixed;
    padding: 1em 2em;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
    cursor: pointer;
    transition: transform 100ms ease-in;
    svg {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__card {
    --card-transition: 200ms opacity ease-in;
    position: relative;
    padding: 1em;
    &__imageField {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      transition: var(--card-transition);
      img {
        width: 100%;
      }
    }
    &__title {
      color: #fff;
      font-size: var(--fs-600);
    }
    &:hover {
      outline: 0.15em solid hsl(var(--primary_color) / 0.3);
    }
    &:hover > &__imageField {
      opacity: 0;
    }
    &:hover > &__description {
      opacity: 1;
    }
    &__description {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      inset: 0;
      background-color: hsl(var(--primary_color) / 0.8);
      transition: var(--card-transition);
    }
    &__btnField {
      display: flex;
      button {
        flex: 1;
        background-color: #fff;
        color: hsl(var(--text_color));
        font-weight: bold;
        --effect-clr: 0 0% 100%;
      }
    }
  }
}
