@import "./css";

.exposition {
  &__container {
    margin: 2em 0;
    width: 100%;
    background-color: hsl(var(--background_color));
    padding: 0 1em;
    flex: 1;
  }

  // card style
  &__card {
    padding: 1em;
    width: 45em;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    height: max-content;
    display: flex;
    &__title {
      font-size: var(--fs-600);
      text-align: left;
      color: hsl(var(--primary_color));
    }
    &__content {
      display: flex;
      flex-direction: column;
      p {
        margin-top: 1em;
        flex: 1;
      }
      button {
        margin-top: auto;
      }
    }
  }

  &__image {
    position: relative;
    width: 20em;
    padding-top: 42.85%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__header {
    position: relative;
    height: 2em;
  }
  &__title {
    text-align: center;
    color: hsl(var(--primary_color));
  }
  &__backBtn {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    color: hsl(var(--primary_color));
    display: grid;
    place-items: center;
    transition: transform 50ms ease-in;
    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
  }
}
.title {
  text-align: center;
  padding: 0.75em 0;
  color: hsl(var(--primary_color));
}
