@mixin colors {
  --text_color: 0 0% 0%;
  --primary_color: 209 77% 23%;
  --secondary_color: 10 94% 60%;
  --neutral_color: 47 87% 66%;
  --error_color: 1 100% 45%;
  --warning_color: 0 0% 50%;
  --background_color: 0 0% 100%;
  --header_color: 0 0% 100%;
  --footer-bg-color: 271 100% 21%;
  --card-background-color: 209 77% 23%;
  
  // put the color here to test it
  --test-color: hsla(209, 78%, 23%, 0.568);
}
