@mixin colors {
  --text_color: 0 0% 0%;
  --primary_color: 244 100% 40%;
  --secondary_color: 0 96% 55%;
  --error_color: 1 100% 45%;
  --warning_color: 0 0% 50%;
  --background_color: 0 0% 100%;
  --header_color: 0 0% 100%;
  --test-color : hsl(0, 0%, 20%);
}

