// light mode colors
$text_light_color: 0 0% 0%;
$primary_light_color: 244 100% 40%;
$secondary_light_color: 0 96% 55%;
$warning_light_color: 0 0% 50%;
$background_light_color: 0 0% 100%;
$header_light_color: 0 0% 100%;